<form>
<pre>
Enter Username:<input typr="text" ng-model="user.username">
Enter Password:<input typr="text" ng-model="user.password">
Enter Firstname:<input typr="text" ng-model="user.firstname">
Enter Lastname:<input typr="text" ng-model="user.lastname">
Enter email:<input typr="text" ng-model="user.email">
Enter Phonenumber:<input typr="text" ng-model="user.phonenumber">
select Role:
<input type="radio" value="STUDENT" ng-model="user.role">student
<input type="radio" value="EMPLOYEE" ng-model="user.role">employee
<input type="radio" value="ALUMIN" ng-model="user.role">alumin
<input type="submit" value ="Register">
</pre>/
</form>